* {
    font-family: 'Roboto Mono', monospace;

}

body {
display: flex;
flex-direction: column;
max-width: 1200px;
margin: auto;
background-image:url('https://cdn.aarp.net/content/dam/aarp/travel/destinations/2020/09/1140-yosemite-hero.imgcache.rev53b5073f17c63326332c9b737074d62b.jpg');
background-attachment:fixed;
background-size:cover;
background-repeat:no-repeat;
}




nav {
font-size: 15px;
font-family: Arial, Helvetica, sans-serif; 
 display: flex;
justify-content: space-evenly;

}

nav a {
    padding: 25px 20px;
    text-decoration: none;
    color:white;
    text-align: center;
    border-radius: 15%;
    margin: 10px 40px;
    margin:10px 20px 30px 40px;
    
}
button{
    /* border: 1px solid red; */
    background: none;
    border-radius: 10px;
}
/* button:nth-child(3n+1) {
    border: #FF764E;
} */

nav a:hover{
    font-size: 20px;
    
}
a:nth-child(3n+1) {
    background: #FF764E;
}
a:nth-child(3n+2){
    background: #5ED3EB;
}
a:nth-child(3n+3) {
    background: #FFCD69;
}

h1 {
    text-align: center;
    font-family: 'Chelsea Market', cursive;
    font-size: 400%;
    margin-top: -35% auto;
    width: 100%;
    top: 15%;
    display:flex;
    justify-content:space-evenly;
    align-content:space-evenly;
    color: #ffbb00ea;
    /* border: 1px solid red; */
    
}
#enter {
 top:35%;  
width: 75%;
height:100px;
display: flex;
text-align: center;
margin: 0 auto;

}

.valley {
 background: #DDB9A3;
 color:black;
 padding: 20px;
 
 
}

header {
display: flex;
flex-direction: row;
justify-content: space-between;
float: left;
width: 85%;

}

header p {
width: 100%;
right: -5%;


}


.park{
 width: 300px;

}

.park img { 
    border-radius: 100%;
    width:100%;
    
}

.headerText {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* .bgImg{
    border: 1px solid red;
    width: 50%;
    height: 50%;
    
} */
.middle {
max-width: 30%;
margin: 20px auto;
display: flex;
flex-direction: column;

}
.middle span:hover{
    background: none;
    color: #143D59;
    font-size: 1.2rem;
    background: #DDB9A3;
}
.middle span{
/* border: 1px solid red; */
font-family: 'Inconsolata', monospace;
padding: 5% 5%;
margin: 10% auto;
color: #2F4F4F;
font-size: 20px;
}
.logo {
width: 80%;

}
.logo img {
width: 100%;


}

.footerimg {
max-height: 200px;
overflow: hidden;

}

.footerimg img {
    width: 100%;
    height:400px;
    object-fit: fill;
    border-radius: 0%;
    position: relative;
    left: 0px;
    


}
footer nav {
    background: #F9E7DC;
    margin-top: auto;
    background: none;
    
}